{% extends 'app_main/_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block middle %}
    <div>
        <form action="#" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endif %}
            <div>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="form-error">{{ error|escape }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div>
                <button type="submit">{% trans 'Reset' %}</button>
            </div>
        </form>
    </div>
{% endblock %}