{% extends 'app_main/_base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block middle %}
    <div>
        {% if validlink %}
            <form action="#" method="post">
                <div>
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="form-error">{{ error|escape }}</div>
                        {% endfor %}
                    {% endif %}
                    <div>
                        {#                            <label for="{{ form.new_password1.id_for_new_password1 }}">#}
                        {#                                {% trans 'Введите новый пароль' %}:#}
                        {#                            </label>#}
                        {{ form.new_password1 }}
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                <div class="form-error">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        {#                            <label for="{{ form.new_password2.id_for_new_password2 }}">#}
                        {#                                {% trans 'Подтверждение пароля' %}:#}
                        {#                            </label>#}
                        {{ form.new_password2 }}
                        {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                                <div class="form-error">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div>
                        <button type="submit">{% trans 'Save' %}</button>
                    </div>
                </div>
            </form>
        {% else %}
            <h1 class="form-error">{% trans 'Failed to reset password' %}</h1>
            <p class="form-error">
                {% trans 'The password reset link is outdated or has already been used.' %}
                {% trans 'You can reset your password again.' %}
            </p>
            <a href="{% url 'password_reset' %}">{% trans "Reset password" %}</a>
        {% endif %}
    </div>
{% endblock %}